<div *ngIf="isGameOngoing" class="row mt-3">
  <div class="col mb-3">
    <app-helpers class="mb-5 row"></app-helpers>

    <app-questions-answers class="row"></app-questions-answers>
  </div>
  <div class="col-md-3">
    <app-stages></app-stages>
  </div>
</div>

<ng-template #gameOverModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Game Over!</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">Wrong answer, better luck next time!</div>
</ng-template>
