<h2 class="mt-5 mb-3">Welcome to "Who wants to be a millionaire"</h2>
<p class="mb-5">
  In this game you will get the chance to show your knowledge in various trivia
  and get rich while doing so.
</p>
<p class="mb-3">
  The rules are simple, you will get a question with four possible answers,
  choosing the correct answer will allow you to advance to the next level. The
  game is divided in 3 difficulty stages, at the beginning of each you you have
  the chance to earn a safe sum which will be awarded to you if you were to fail
  on this particular stage. You wull have access to 3 jokers which you can use
  at any time.
</p>
<p class="fw-bold fs-5">
  To win the game you have to reach the final stage and answer the last question
  correctly!
</p>
<hr />
<a class="btn btn-secondary fs-3 fw-bold" [routerLink]="['/game']" role="button"
  >BEGIN</a
>
